#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  pihole-app.service
BindsTo=pihole.service
After=pihole.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/password.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/pihole-app.pid %t/pihole-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/pihole-app.pid \
    --cidfile %t/pihole-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/pihole.pod-id --replace -d --name  pihole-app \
    --volume etc:/etc \
    --env TZ="UTC" \
    --env FTLCONF_webserver_api_password="${WEBPASSWORD}" \
    --env VIRTUAL_HOST="${TRAEFIK_HOST}" \
    --env IPv6="true" \
    --env dns="1.1.1.1" \
    --env DNSMASQ_LISTENING="local" \
    --env=PIHOLE_* \
    ${PIHOLE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/pihole-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP pihole-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/pihole-app.ctr-id
PIDFile=%t/pihole-app.pid
Type=forking

[Install]
WantedBy=default.target

