#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a pihole instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman pihole.service
Requires=pihole-app.service
Before=pihole-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/pihole.pid %t/pihole.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/pihole.pid \
    --pod-id-file %t/pihole.pod-id \
    --name pihole \
    --publish 127.0.0.1:${TCP_PORT}:80 \
    -p 53:53/udp -p 53:53/tcp \
    -p 67:67/udp -p 68:68/udp \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/pihole.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/pihole.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/pihole.pod-id
PIDFile=%t/pihole.pid
Type=forking

[Install]
WantedBy=default.target
